/* @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import "tailwindcss";
@plugin "daisyui";


@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

/* This is for the compatability fix for the browsers */
html {
  -webkit-text-size-adjust: 100%; /* Safari / iOS */
  text-size-adjust: 100%;         /* Modern browsers */
}

.element {
  -webkit-mask-image: url('/path/to/mask.svg');
  mask-image: url('/path/to/mask.svg');

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}


:root {
  --font-display: "Inter", sans-serif;
}

/* USE THESE COLORS HERE FOR THE MAIN ELEMENTS; FEEL FREE TO CHANGE THEM THOUGH */
@plugin "daisyui/theme" {
  name: "digitec-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.01 100);
  --color-base-200: oklch(95% 0.015 100);
  --color-base-300: oklch(90% 0.03 100);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(55% 0.22 145);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(65% 0.2 300);
  --color-secondary-content: oklch(10% 0.01 100);
  --color-accent: oklch(79% 0.184 86.047);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.077 168.94);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.18 250);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(52% 0.22 140);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(80% 0.2 90);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(60% 0.22 30);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  /* DARK MODE */
  name: "digitec-dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(21% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(98% 0.002 247.839);
  --color-primary: oklch(55% 0.22 145);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(65% 0.2 300);
  --color-secondary-content: oklch(10% 0.01 100);
  --color-accent: oklch(85% 0.2 80);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(37% 0.077 168.94);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.18 250);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(52% 0.22 140);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(80% 0.2 90);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(60% 0.22 30);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 0;
}
